In [1]:
#DE Libraries
import pandas as pd
import numpy as np
#Function to treat JSON Column
def JSONParser(data):
    import json
    j1=json.loads(data)
    return j1

#Fix Formatting for JSON Data single '' to ""
#df.str.replace("\'", "\"")

#Data Engineering JSON column
#Read in master table
masterGameDF = pd.read_csv("DataStorage/TFT_League/TFT_Master_MatchData.csv",
                           converters={'combination':JSONParser,'champion':JSONParser})

masterGameDF

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,KR_4242528808,2233.449951,8,37,1,2225.243408,"{'DarkStar': 2, 'Protector': 4, 'Rebel': 1, 'S...","{'JarvanIV': {'items': [12], 'star': 3}, 'Sona..."
1,KR_4242528808,2233.449951,9,37,2,2225.243408,"{'Blaster': 2, 'Chrono': 1, 'Cybernetic': 1, '...","{'Malphite': {'items': [], 'star': 2}, 'Blitzc..."
2,KR_4242528808,2233.449951,8,35,3,2138.763428,"{'Blaster': 3, 'Chrono': 2, 'Cybernetic': 1, '...","{'Malphite': {'items': [], 'star': 2}, 'Blitzc..."
3,KR_4242528808,2233.449951,8,33,4,2003.865967,"{'Chrono': 2, 'Cybernetic': 2, 'DarkStar': 2, ...","{'Leona': {'items': [], 'star': 2}, 'Mordekais..."
4,KR_4242528808,2233.449951,7,31,5,1885.395386,"{'Blaster': 1, 'DarkStar': 1, 'Demolitionist':...","{'KhaZix': {'items': [], 'star': 2}, 'KaiSa': ..."
...,...,...,...,...,...,...,...,...
79994,KR_4367610629,2171.343994,8,35,4,1931.437500,"{'Chrono': 1, 'Cybernetic': 1, 'DarkStar': 2, ...","{'TwistedFate': {'items': [], 'star': 3}, 'Pop..."
79995,KR_4367610629,2171.343994,8,33,5,1815.786133,"{'Chrono': 1, 'DarkStar': 1, 'ManaReaver': 3, ...","{'Darius': {'items': [15, 39], 'star': 3}, 'Ra..."
79996,KR_4367610629,2171.343994,8,30,6,1658.850586,"{'Chrono': 2, 'Cybernetic': 1, 'DarkStar': 1, ...","{'TwistedFate': {'items': [], 'star': 2}, 'Mal..."
79997,KR_4367610629,2171.343994,7,28,7,1562.578125,"{'Protector': 4, 'Rebel': 3, 'Set3_Blademaster...","{'Yasuo': {'items': [78], 'star': 3}, 'Sona': ..."
79998,KR_4367610629,2171.343994,6,23,8,1264.666992,"{'Cybernetic': 1, 'DarkStar': 1, 'Demolitionis...","{'KhaZix': {'items': [], 'star': 2}, 'KaiSa': ..."

In [2]:
#combination and champion JASON to DF treatment
#convert combination to champion origin group dataFrame
champGroup = pd.DataFrame(list(masterGameDF['combination'][0:]))

#reanme some headers & fill NaN with 0
champGroup.columns = champGroup.columns.str.replace("Set3_", "")

champGroup = champGroup.fillna(0)
champGroup = champGroup.astype(int)
champGroup

,DarkStar,Protector,Rebel,Celestial,Mystic,StarGuardian,Blaster,Chrono,Cybernetic,Mercenary,...,Starship,Infiltrator,ManaReaver,Sniper,SpacePirate,Vanguard,Demolitionist,MechPilot,Sorcerer,TemplateTrait
0,2,4,1,3,4,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,2,1,2,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,3,0,0,1,3,2,1,1,...,1,0,0,0,0,0,0,0,0,0
3,2,0,0,1,0,0,0,2,2,0,...,0,1,1,2,1,4,0,0,0,0
4,1,0,0,0,0,0,1,0,0,1,...,0,4,0,0,0,0,1,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79994,2,0,0,0,0,3,0,1,1,0,...,0,0,0,0,0,2,0,0,6,1
79995,1,2,0,4,0,0,0,1,0,0,...,0,0,3,2,2,1,0,0,0,1
79996,1,0,1,0,0,0,0,2,1,0,...,0,2,0,0,0,0,0,0,2,1
79997,0,4,3,2,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79998,1,0,0,0,0,0,0,0,1,0,...,0,4,0,0,0,0,1,1,0,0

In [3]:
# setup champion group dataframe
# split group/class
originDF = pd.read_csv("DataStorage/TFT_League/TFT_Champion_CurrentVersion.csv",usecols=['origin'],header=0).drop_duplicates()
originDF = originDF[0:]
originDF['origin']=originDF['origin'].str.replace(" ", "")
originDF['origin']=originDF['origin'].str.replace("-", "")
originList = list(originDF['origin'])

# sort champGroupDF by origin/Classes
originGroupDF = pd.DataFrame(champGroup,columns=originList)
classGroupDF = champGroup.drop(originList, axis=1)

print(len(originList))
# origin DF
print(originGroupDF)
# class DF
print(classGroupDF)

10
       SpacePirate  StarGuardian  Celestial  DarkStar  MechPilot  Cybernetic  \
0                0             2          3         2          0           0
1                0             1          1         0          0           1
2                0             1          0         0          0           1
3                1             0          1         2          0           2
4                0             0          0         1          3           0
...            ...           ...        ...       ...        ...         ...
79994            0             3          0         2          0           1
79995            2             0          4         1          0           0
79996            0             0          0         1          0           1
79997            0             2          2         0          0           0
79998            0             0          0         1          1           1

       Rebel  Valkyrie  Void  Chrono
0          1         0     0       0
1          2         2     1       1
2          3         1     1       2
3          0         0     0       2
4          0         2     1       0
...      ...       ...   ...     ...
79994      0         0     1       1
79995      0         0     0       1
79996      1         0     3       2
79997      3         0     0       0
79998      0         2     1       0

[79999 rows x 10 columns]
       Protector  Mystic  Blaster  Mercenary  Blademaster  Brawler  Starship  \
0              4       4        0          0            0        0         0
1              0       2        2          1            1        4         0
2              0       0        3          1            0        4         1
3              0       0        0          0            0        0         0
4              0       0        1          1            0        0         0
...          ...     ...      ...        ...          ...      ...       ...
79994          0       0        0          0            0        0         0
79995          2       0        0          0            0        0         0
79996          0       0        0          0            0        4         0
79997          4       2        0          0            2        0         0
79998          0       0        0          0            1        0         0

       Infiltrator  ManaReaver  Sniper  Vanguard  Demolitionist  Sorcerer  \
0                0           0       0         0              0         0
1                0           0       0         0              0         0
2                0           0       0         0              0         0
3                1           1       2         4              0         0
4                4           0       0         0              1         1
...            ...         ...     ...       ...            ...       ...
79994            0           0       0         2              0         6
79995            0           3       2         1              0         0
79996            2           0       0         0              0         2
79997            0           0       0         0              0         0
79998            4           0       0         0              1         0

       TemplateTrait
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
79994              1
79995              1
79996              1
79997              0
79998              0

[79999 rows x 14 columns]

In [4]:
#Treat Champion and items combination
from pandas.io.json import json_normalize

#Flatten JASON
champItemStarList = list(masterGameDF['champion'])
champItemStarDF = pd.json_normalize(champItemStarList)
champItemStarDF

,JarvanIV.items,JarvanIV.star,Sona.items,Sona.star,Rakan.items,Rakan.star,XinZhao.items,XinZhao.star,Neeko.items,Neeko.star,...,Zoe.items,Zoe.star,Ahri.items,Ahri.star,Syndra.items,Syndra.star,VelKoz.items,VelKoz.star,Xerath.items,Xerath.star
0,[12],3.0,[46],3.0,"[37, 45]",3.0,"[25, 66, 13]",3.0,[],2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[],3.0,[],2.0,NaN,NaN,"[39, 19, 19]",2.0,"[99, 25, 12]",1.0
79995,NaN,NaN,NaN,NaN,[],1.0,[],2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"[39, 44]",2.0,NaN,NaN
79997,NaN,NaN,"[46, 4]",3.0,"[37, 14]",2.0,[],2.0,[],2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Split items/stars df, Rename, Transpose
items = [col for col in champItemStarDF.columns if '.items' in col]
itemsDF = champItemStarDF[items]
itemsDF.columns = itemsDF.columns.str.replace(".items", "")
itemsDF

stars = [col for col in champItemStarDF.columns if '.star' in col]
starsDF = champItemStarDF[stars]
starsDF.columns = starsDF.columns.str.replace(".star", "")
starsDF

,JarvanIV,Sona,Rakan,XinZhao,Neeko,Karma,Soraka,Lulu,Malphite,Blitzcrank,...,Kassadin,Fiora,Shen,Darius,TwistedFate,Zoe,Ahri,Syndra,VelKoz,Xerath
0,3.0,3.0,3.0,3.0,2.0,2.0,1.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,3.0,2.0,NaN,2.0,1.0
79995,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
79996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN
79997,NaN,3.0,2.0,2.0,2.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# treat NaN as no items
for label, content in itemsDF.items():
    '''
        #For each row in DF index
        #where in the current column, there is an NaN value
        #fill it with a empty list
    '''
    
    for row in itemsDF.loc[itemsDF[label].isnull(), str(label)].index:
        itemsDF.at[row, str(label)] = []
    
itemsDF

# for label, content in starsDF.items():
#     '''
#         #For each row in DF index
#         #where in the current column, there is an NaN value
#         #fill it with a empty list
#     '''
    
#     for row in starsDF.loc[starsDF[label].isnull(), str(label)].index:
#         starsDF.at[row, str(label)] = []
    
# starsDF

,JarvanIV,Sona,Rakan,XinZhao,Neeko,Karma,Soraka,Lulu,Malphite,Blitzcrank,...,Kassadin,Fiora,Shen,Darius,TwistedFate,Zoe,Ahri,Syndra,VelKoz,Xerath
0,[12],[46],"[37, 45]","[25, 66, 13]",[],[],[],"[99, 47, 55]",[],[],...,[],[],[],[],[],[],[],[],[],[]
1,[],[],[],[],[],[],[],[17],[],[],...,[],[],[],[],[],[],[],[],[],[]
2,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
3,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
4,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79994,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],"[39, 19, 19]","[99, 25, 12]"
79995,[],[],[],[],[],[],[],[],[],[],...,[],[],[],"[15, 39]",[],[],[],[],[],[]
79996,[],[],[],[],[],[],[],[],"[36, 67, 7]",[],...,[],[],[],[],[],[],[],[],"[39, 44]",[]
79997,[],"[46, 4]","[37, 14]",[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
79998,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]

In [7]:
#concat the item list for each champion
#compress everything to one row
#transpose the dataframe
#rename the column
ItemsDF_Cleaned = pd.DataFrame(columns=list(itemsDF.columns))

for label, content in itemsDF.items():
    psudoList = []
    psudoList =itemsDF[str(label)].sum()
    ItemsDF_Cleaned  = ItemsDF_Cleaned .append({str(label):psudoList},ignore_index=True)

#apply drop NaN values and shift
ItemsDF_Cleaned = ItemsDF_Cleaned.apply(lambda x: pd.Series(x.dropna().values))
ItemsDF_Cleaned = ItemsDF_Cleaned.T.rename(columns={0:"Items"})
ItemsDF_Cleaned

                                                         Items
JarvanIV     [12, 99, 3, 34, 79, 29, 99, 4, 44, 19, 17, 26,...
Sona         [46, 78, 4, 78, 44, 17, 44, 44, 36, 68, 99, 2,...
Rakan        [37, 45, 14, 37, 66, 37, 14, 13, 14, 14, 37, 3...
XinZhao      [25, 66, 13, 25, 25, 19, 77, 66, 25, 66, 25, 2...
Neeko        [68, 66, 25, 33, 99, 5, 36, 99, 33, 13, 59, 39...
Karma        [4, 67, 67, 46, 79, 59, 4, 17, 33, 33, 48, 33,...
Soraka       [14, 1, 14, 7, 79, 4, 67, 1, 35, 57, 22, 58, 8...
Lulu         [99, 47, 55, 17, 46, 78, 44, 22, 14, 34, 27, 2...
Malphite     [59, 25, 47, 5, 59, 77, 68, 25, 77, 67, 67, 59...
Blitzcrank   [59, 79, 67, 67, 67, 67, 67, 47, 67, 88, 67, 6...
Vi           [36, 5, 36, 99, 14, 15, 15, 2, 47, 36, 47, 99,...
Jinx         [56, 13, 29, 13, 57, 69, 12, 12, 12, 57, 12, 5...
ChoGath      [36, 6, 27, 99, 2, 49, 39, 45, 99, 3, 33, 15, ...
Kayle        [57, 58, 78, 12, 3, 58, 22, 19, 58, 67, 7, 22,...
MissFortune  [37, 34, 33, 69, 99, 24, 23, 33, 49, 29, 79, 6...
Ezreal       [26, 15, 17, 17, 58, 12, 12, 57, 14, 14, 29, 3...
AurelionSol  [48, 39, 18, 44, 37, 34, 36, 33, 25, 36, 38, 6...
Leona        [2, 47, 8, 7, 66, 25, 25, 3, 6, 9, 7, 59, 6, 2...
Mordekaiser  [25, 66, 55, 66, 67, 36, 55, 99, 55, 25, 36, 5...
Jayce        [49, 26, 38, 27, 8, 58, 78, 49, 14, 68, 37, 59...
Ashe         [14, 3, 44, 34, 29, 37, 44, 39, 67, 2, 4, 19, ...
WuKong       [99, 19, 22, 58, 68, 15, 15, 7, 66, 1, 79, 79,...
Jhin         [11, 23, 29, 16, 16, 29, 26, 11, 12, 16, 29, 1...
Thresh       [36, 58, 14, 47, 59, 59, 2, 47, 24, 99, 46, 55...
Ekko         [57, 29, 36, 45, 88, 46, 57, 19, 39, 11, 37, 3...
KhaZix       [57, 7, 5, 99, 6, 67, 3, 4, 88, 17, 89, 1, 34,...
KaiSa        [44, 36, 34, 37, 39, 17, 25, 37, 44, 3, 49, 37...
Annie        [55, 89, 59, 27, 36, 47, 59, 36, 27, 7, 11, 7,...
Shaco        [16, 15, 19, 19, 19, 16, 15, 19, 16, 15, 16, 2...
Rumble       [67, 55, 25, 47, 49, 1, 47, 27, 59, 66, 28, 5,...
Fizz         [33, 99, 19, 16, 18, 15, 69, 1, 25, 69, 25, 99...
Ziggs        [67, 39, 14, 36, 17, 39, 13, 46, 44, 4, 68, 59...
Yasuo        [99, 24, 33, 46, 99, 7, 67, 23, 16, 29, 16, 15...
MasterYi     [67, 27, 8, 99, 79, 59, 5, 77, 47, 88, 9, 99, ...
Gangplank    [25, 3, 67, 25, 47, 69, 37, 15, 44, 39, 15, 44...
Caitlyn      [19, 69, 19, 29, 22, 17, 23, 24, 14, 19, 4, 29...
Graves       [4, 11, 7, 47, 16, 17, 17, 17, 37, 39, 44, 33,...
Lucian       [2, 57, 9, 67, 12, 23, 66, 7, 23, 26, 57, 19, ...
Irelia       [44, 15, 49, 19, 16, 15, 45, 55, 46, 44, 15, 1...
Xayah        [99, 7, 77, 12, 2, 15, 4, 19, 22, 57, 67, 29, ...
Lux          [37, 14, 67, 7, 34, 46, 38, 37, 35, 35, 99, 3,...
Poppy        [59, 67, 59, 45, 45, 66, 47, 46, 46, 33, 47, 4...
Kassadin     [59, 78, 77, 26, 36, 67, 78, 37, 44, 67, 28, 7...
Fiora        [8, 36, 69, 6, 16, 19, 7, 3, 5, 49, 66, 6, 9, ...
Shen         [99, 13, 49, 45, 55, 15, 77, 25, 55, 67, 55, 1...
Darius       [33, 15, 33, 34, 13, 13, 36, 33, 33, 66, 69, 6...
TwistedFate  [37, 14, 34, 12, 19, 67, 17, 58, 26, 67, 24, 2...
Zoe          [27, 25, 67, 67, 33, 67, 49, 47, 26, 25, 18, 8...
Ahri         [11, 49, 13, 13, 46, 33, 39, 33, 34, 49, 34, 6...
Syndra       [46, 4, 44, 15, 34, 49, 35, 34, 12, 14, 99, 66...
VelKoz       [99, 17, 22, 28, 38, 6, 79, 38, 49, 15, 48, 39...
Xerath       [66, 69, 14, 13, 99, 77, 19, 34, 23, 47, 48, 6...